:root {
  background-color: #eee;
  --gray: #aaa;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 14px;
}

#app {
  display: none;
}

@keyframes showInfo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#loading .info {
  animation: showInfo 15s;
}

textarea,
input[type='text'] {
  font-size: 1rem;
  -webkit-appearance: none;
  padding: 0.25rem;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

ul.plain {
  display: block;
  padding: 0;
}

ul.plain > li {
  display: block;
  list-style-type: none;
}

.els {
}

.nestable h2 {
  font-size: 1rem;
  margin: 0;
}

.structure {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.class-buttons {
  margin-bottom: 1rem;
  text-align: right;
}

.controls {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  margin: -1px -1px 0 0;
}

.nestable > .nestable-list {
  padding-bottom: 2rem;
}
.nestable-item {
  position: relative;
}

.nestable-item:hover > div > div > div > .controls {
  display: flex;
}

.desc {
  display: none;
}

.hungry-toggle,
.show-in-toc {
  display: block;
  margin: 0 0 0 1rem;
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  border: 1px solid var(--gray);
  border-radius: 3px;
  cursor: pointer;
}

.numbered-children {
  display: block;
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  border: 1px solid var(--gray);
  border-radius: 3px;
  cursor: pointer;
}

.hungry-toggle input,
.show-in-toc input,
.numbered-children input {
  display: none;
}

.role,
.list-type {
  display: flex;
}

.role label,
.list-type label {
  display: block;
  margin: 0;
}

.role input,
.list-type input {
  display: none;
}

.list-type {
  padding-left: 1rem;
}

.role .btn,
.list-type .btn {
  color: #777;
  display: block;
  margin: 0;
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  border: solid var(--gray);
  border-width: 1px 1px 1px 0;
  cursor: pointer;
}

.role .btn:hover,
.list-type .btn:hover {
  background: #eee;
}

.role input:checked + .btn,
.list-type input:checked + .btn {
  color: black;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
}

.role label:first-child .btn,
.list-type label:first-child .btn {
  border-width: 1px;
  border-radius: 3px 0 0 3px;
}

.role label:last-child .btn,
.list-type label:last-child .btn {
  border-radius: 0 3px 3px 0;
}

.material-icons {
  vertical-align: middle;
}

.toggle-on,
.toggle-off {
  font-size: 3rem;
  line-height: 1rem;
}

.toggle-on {
  color: green;
}

.toggle-off {
  color: #aaa;
}

.removed h2 {
  color: red;
  text-decoration: line-through;
}

.removed .hungry-toggle,
.removed .show-in-toc {
  opacity: 10%;
}

.not-in-toc h2 {
  opacity: 0.5;
}

.nestable-handle > div.hungry {
  color: navy;
  border: 1px solid navy;
  border-bottom: 1px dashed navy;
}

.nestable-handle > div.devoured {
  color: brown;
  border: 1px solid brown;
  border-top: 1px dashed brown;
}

.toc-preview > ul {
  padding-left: 1rem;
}

.toc-preview li {
  margin: 0.5rem 0;
}

.toc-preview .filename {
  display: block;
  color: var(--gray);
}

nav ul {
  display: flex;
  padding: 0;
  border-bottom: 1px solid gray;
}

nav ul li {
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
}

nav ul li.active {
  border-bottom: 2px solid gray;
}

.metadata {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.metadata h2 {
  margin: 2rem 0 0;
  grid-column: 1 / -1;
}

.metadata > label {
  display: block;
  grid-column: span 2;
}

.metadata > label.small {
  grid-column: span 1;
}

.metadata .chapters,
.metadata .chapters li div {
  display: block;
  padding: 0;
  grid-column: 1 / -1;
}

.metadata .chapters li div {
  margin-left: 2rem;
}

.metadata .chapters li div.title {
  margin: 0;
  grid-column: auto;
}

.metadata .chapters ol,
.metadata .chapters ul {
  display: block;
  padding: 0;
}

.metadata .chapters li {
  display: grid;
  grid-template-columns: 1fr 30vw 7em 30vw;
  grid-gap: 2rem;
  align-items: center;

  border-top: 1px solid gray;
  padding: 0.5rem 0;
}

.copyButton {
  margin: 0;
}

.paramsLink {
  margin: 0;
  float: right;
}

#report {
  font-family: monospace;
  width: 100%;
  height: 40vh;
}

.view-chapter {
  display: block;
  background: white;
  z-index: 2;
  position: fixed;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  border: 1px solid gray;
  border-radius: 3px;
}

.view-chapter-tabs {
  line-height: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 1rem;
}

.view-chapter-tabs .tab {
  cursor: pointer;
  margin-right: 1rem;
  opacity: 0.6;
}

.view-chapter-tabs .tab.active {
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
}

.view-chapter-close {
  line-height: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.view-chapter iframe {
  display: block;
  border: solid gray;
  border-width: 1px 0 0;

  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 3rem);
  top: 2rem;
  bottom: 0;
  left: 1rem;
}

.view-chapter pre {
  overflow: scroll;
  border: solid gray;
  border-width: 1px 0 0;

  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 3rem);
  top: 2rem;
  bottom: 0;
  left: 1rem;
  margin: 0;
}

.unused-classes {
  padding: 0;
}

.unused-classes li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.unused-classes .material-icons {
  cursor: pointer;
}

.css-preview {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 3px;
  margin: 1rem 0;
}

.css-preview figure {
  margin: 0 0 2rem;
}

.css-preview .preview-wrapper {
  border: 1px dashed gray;
  background: white;
  padding: 1rem;
}

.clickable {
  cursor: pointer;
}

.box {
  display: block;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 0.5rem;
}

.box :first-child {
  margin-top: 0;
}

.box :last-child {
  margin-bottom: 0;
}

.suggested-title {
  display: block;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 0.25rem;
  cursor: pointer;
}

.suggested-title::before {
  content: 'Suggested: ';
  color: gray;
}

.suggested-title:hover {
  background: white;
}

.replacement-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.replacement-grid p {
  margin: 0;
}

.replacement-grid textarea {
  font-family: monospace;
  padding: 0.5rem;
}

.replacement-grid pre {
  margin: 0;
  font-family: monospace;
  background: white;
  padding: 0.5rem;
  border-radius: 2px;
}
